<!--
 Tutorial #7 - View Engines
 #7 https://www.youtube.com/watch?v=yXEesONd_54&list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU&index=7
    https://github.com/iamshaunjp/node-crash-course/blob/lesson-7/views/index.ejs
 
Tutorial #8 - Middleware
 #8 https://www.youtube.com/watch?v=_GJKAs7A0_4&list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU&index=8 
  




-->
<html lang="en">
  <%- include('./partials/head.ejs')  %> 
 <!--https://github.com/iamshaunjp/node-crash-course/blob/lesson-7/views/partials/nav.ejs   -->

<body>
  <%- include('./partials/nav.ejs')  %>
    
     
      <div>

        <div class="blogs content">
          <h2>All Blogs</h2>
          
          <% if (blogs.length > 0) { %>
              <b>Number of blogs = <%= blogs.length  %> </b>
              <% blogs.forEach(blog => { %>
                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet"><%= blog.snippet %></p>
              <% })  %>
              <% } else { %>
                <p>There are no blogs to display...</p>
          <% }  %>
      </div>

      <%- include('./partials/footer.ejs')  %> 
</body>
</html>